ASIO crashing when client closes connection... sometimes.

I'm not sure you'll be able to help here, because this isn't something you can easily repro. I have a complex server which "streams" search results, via yield.

The issue is I have a misbehaving client, which disconnects (closes the socket) frequently. This causes crashes on the server side.

I know about session->is_open, and that helps a bit, but there still appears to be a timing issue where the session can be closed under me and I get a crash. For example, look at this callstack:

```
0:001> kn
 # ChildEBP RetAddr  
00 (Inline) -------- search!asio::mutable_buffer::{ctor} [c:\projects\restbed\dependency\asio\asio\include\asio\buffer.hpp @ 101]
01 (Inline) -------- search!asio::buffer [c:\projects\restbed\dependency\asio\asio\include\asio\buffer.hpp @ 784]
02 023deacc 002f07f0 search!restbed::detail::SocketImpl::write+0x1e9 [c:\projects\restbed\source\corvusoft\restbed\detail\socket_impl.cpp @ 170]
03 023deb40 002f0699 search!restbed::Session::yield+0x120 [c:\projects\restbed\source\corvusoft\restbed\session.cpp @ 194]
04 023deb70 002d630d search!restbed::Session::yield+0x49 [c:\projects\restbed\source\corvusoft\restbed\session.cpp @ 209]
05 023dec94 002dc93c search!<lambda_4c3ad2736744fe3059fa0343f25ff7f6>::operator()+0x1ad [c:\projects\femarmis\src\search\rest.cpp @ 473]
06 (Inline) -------- search!std::_Invoker_functor::_Call+0x17 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1408]
07 (Inline) -------- search!std::invoke+0x17 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1476]
08 (Inline) -------- search!std::_Invoke_ret+0x17 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1501]
09 023decc0 002e21c2 search!std::_Func_impl<<lambda_4c3ad2736744fe3059fa0343f25ff7f6>,std::allocator<int>,bool,boost::property_tree::basic_ptree<std::basic_string<char,std::char_traits<char>,std::allocator<char> >,std::basic_string<char,std::char_traits<char>,std::allocator<char> >,std::less<std::basic_string<char,std::char_traits<char>,std::allocator<char> > > > >::_Do_call+0x1c [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 211]
0a 023dece0 002e1217 search!std::_Func_class<bool,boost::property_tree::basic_ptree<std::basic_string<char,std::char_traits<char>,std::allocator<char> >,std::basic_string<char,std::char_traits<char>,std::allocator<char> >,std::less<std::basic_string<char,std::char_traits<char>,std::allocator<char> > > > >::operator()+0x42 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 275]
0b 023deff0 0029ab90 search!<lambda_7f37dd1647de03503328c5e661a73de8>::operator()+0x9c7 [c:\projects\femarmis\src\search\search.cpp @ 104]
0c (Inline) -------- search!std::_Func_class<bool,FaceInfo const &>::operator()+0x1e [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 275]
0d 023df050 002e066a search!LocalDataSource::ForEachFace+0x140 [c:\projects\femarmis\src\search\localdatasource.cpp @ 477]
0e 023df2d4 002d6088 search!FindFacesTree+0x4ba [c:\projects\femarmis\src\search\search.cpp @ 110]
0f 023df39c 002d7f3a search!GET_user_id_search2+0x308 [c:\projects\femarmis\src\search\rest.cpp @ 477]
10 023df3d8 002dc7ff search!<lambda_1208e75997f7de7e3aa17fc51057a1f9>::operator()+0xba [c:\projects\femarmis\src\search\rest.cpp @ 645]
11 (Inline) -------- search!std::_Invoker_functor::_Call+0x27 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1408]
12 (Inline) -------- search!std::invoke+0x27 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1476]
13 (Inline) -------- search!std::_Invoke_ret+0x27 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1494]
14 023df3f0 002eec71 search!std::_Func_impl<<lambda_1208e75997f7de7e3aa17fc51057a1f9>,std::allocator<int>,void,std::shared_ptr<restbed::Session> >::_Do_call+0x2f [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 211]
15 023df414 00312c62 search!std::_Func_class<void,std::shared_ptr<restbed::Session> >::operator()+0x41 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 275]
16 023df4c4 0031418c search!<lambda_4bd0ef0d31035a1e39bd7ee2d4c96024>::operator()+0x172 [c:\projects\restbed\source\corvusoft\restbed\detail\service_impl.cpp @ 501]
17 (Inline) -------- search!std::_Invoker_functor::_Call+0x27 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1408]
18 (Inline) -------- search!std::invoke+0x27 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1476]
19 (Inline) -------- search!std::_Invoke_ret+0x27 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1494]
1a 023df4dc 002eec71 search!std::_Func_impl<<lambda_4bd0ef0d31035a1e39bd7ee2d4c96024>,std::allocator<int>,void,std::shared_ptr<restbed::Session> >::_Do_call+0x2c [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 211]
1b 023df500 0031adc7 search!std::_Func_class<void,std::shared_ptr<restbed::Session> >::operator()+0x41 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 275]
1c 023df57c 00312a8a search!restbed::detail::rule_engine+0x157 [c:\projects\restbed\source\corvusoft\restbed\detail\rule_engine_impl.hpp @ 52]
1d 023df5e8 00313040 search!<lambda_2b5c0973859361aa480f4e909115d50b>::operator()+0xba [c:\projects\restbed\source\corvusoft\restbed\detail\service_impl.cpp @ 478]
1e 023df668 003141cc search!<lambda_e1cced59481f0ecb647ba0cb19582a2c>::operator()+0x1b0 [c:\projects\restbed\source\corvusoft\restbed\detail\service_impl.cpp @ 512]
1f (Inline) -------- search!std::_Invoker_functor::_Call+0x27 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1408]
20 (Inline) -------- search!std::invoke+0x27 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1476]
21 (Inline) -------- search!std::_Invoke_ret+0x27 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1494]
22 023df680 002eec71 search!std::_Func_impl<<lambda_e1cced59481f0ecb647ba0cb19582a2c>,std::allocator<int>,void,std::shared_ptr<restbed::Session> >::_Do_call+0x2c [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 211]
23 023df6a4 0031adc7 search!std::_Func_class<void,std::shared_ptr<restbed::Session> >::operator()+0x41 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 275]
24 023df720 0031ac08 search!restbed::detail::rule_engine+0x157 [c:\projects\restbed\source\corvusoft\restbed\detail\rule_engine_impl.hpp @ 52]
25 023df82c 0031430d search!restbed::detail::ServiceImpl::router+0x278 [c:\projects\restbed\source\corvusoft\restbed\detail\service_impl.cpp @ 462]
26 (Inline) -------- search!std::_Invoker_pmf_pointer::_Call+0x28 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1373]
27 (Inline) -------- search!std::invoke+0x28 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1476]
28 (Inline) -------- search!std::_Invoke_ret+0x28 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1508]
29 (Inline) -------- search!std::_Call_binder+0x28 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 793]
2a (Inline) -------- search!std::_Binder<std::_Unforced,void (__thiscall restbed::detail::ServiceImpl::*)(std::shared_ptr<restbed::Session>)const ,restbed::detail::ServiceImpl const * const &,std::_Ph<1> const &>::operator()+0x28 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 849]
2b (Inline) -------- search!std::_Invoker_functor::_Call+0x28 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1408]
2c (Inline) -------- search!std::invoke+0x28 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1476]
2d (Inline) -------- search!std::_Invoke_ret+0x28 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1494]
2e 023df848 002eec71 search!std::_Func_impl<std::_Binder<std::_Unforced,void (__thiscall restbed::detail::ServiceImpl::*)(std::shared_ptr<restbed::Session>)const ,restbed::detail::ServiceImpl const * const &,std::_Ph<1> const &>,std::allocator<int>,void,std::shared_ptr<restbed::Session> >::_Do_call+0x2d [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 211]
2f 023df86c 0030e6c1 search!std::_Func_class<void,std::shared_ptr<restbed::Session> >::operator()+0x41 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 275]
30 023df8a0 00314aa0 search!restbed::SessionManager::save+0x91 [c:\projects\restbed\source\corvusoft\restbed\session_manager.cpp @ 57]
31 023df908 003192ca search!restbed::detail::ServiceImpl::authenticate+0xb0 [c:\projects\restbed\source\corvusoft\restbed\detail\service_impl.cpp @ 613]
32 023dfa58 0030efbc search!restbed::detail::ServiceImpl::parse_request+0x3fa [c:\projects\restbed\source\corvusoft\restbed\detail\service_impl.cpp @ 726]
33 023dfa80 003142d9 search!std::_Invoker_pmf_pointer::_Call<void (__thiscall restbed::detail::ServiceImpl::*)(std::error_code const &,unsigned int,std::shared_ptr<restbed::Session>)const ,restbed::detail::ServiceImpl const * &,std::error_code const &,unsigned int,std::shared_ptr<restbed::Session> &>+0x6c [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1375]
34 (Inline) -------- search!std::invoke+0x13 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1476]
35 (Inline) -------- search!std::_Invoke_ret+0x13 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1508]
36 (Inline) -------- search!std::_Call_binder+0x13 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 793]
37 (Inline) -------- search!std::_Binder<std::_Unforced,void (__thiscall restbed::detail::ServiceImpl::*)(std::error_code const &,unsigned int,std::shared_ptr<restbed::Session>)const ,restbed::detail::ServiceImpl const * const &,std::_Ph<1> const &,std::_Ph<2> const &,std::shared_ptr<restbed::Session> const &>::operator()+0x16 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 849]
38 (Inline) -------- search!std::_Invoker_functor::_Call+0x16 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1408]
39 (Inline) -------- search!std::invoke+0x16 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1476]
3a (Inline) -------- search!std::_Invoke_ret+0x16 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1494]
3b 023dfa9c 00307dc7 search!std::_Func_impl<std::_Binder<std::_Unforced,void (__thiscall restbed::detail::ServiceImpl::*)(std::error_code const &,unsigned int,std::shared_ptr<restbed::Session>)const ,restbed::detail::ServiceImpl const * const &,std::_Ph<1> const &,std::_Ph<2> const &,std::shared_ptr<restbed::Session> const &>,std::allocator<int>,void,std::error_code const &,unsigned int>::_Do_call+0x19 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 209]
3c (Inline) -------- search!std::_Func_class<void,std::error_code const &,unsigned int>::operator()+0x1d [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 275]
3d 023dfab4 00308f29 search!<lambda_809e54f05cd994ee845e807af8db6deb>::operator()+0x77 [c:\projects\restbed\source\corvusoft\restbed\detail\socket_impl.cpp @ 344]
3e 023dfb44 003046f4 search!asio::detail::read_until_delim_string_op<asio::basic_stream_socket<asio::ip::tcp,asio::stream_socket_service<asio::ip::tcp> >,asio::basic_streambuf_ref<std::allocator<char> >,<lambda_12d3f708b7d2e653569cc9ff413d8d57> >::operator()+0x239 [c:\projects\restbed\dependency\asio\asio\include\asio\impl\read_until.hpp @ 789]
3f (Inline) -------- search!asio::detail::binder2<asio::detail::read_until_delim_string_op<asio::basic_stream_socket<asio::ip::tcp,asio::stream_socket_service<asio::ip::tcp> >,asio::basic_streambuf_ref<std::allocator<char> >,<lambda_12d3f708b7d2e653569cc9ff413d8d57> >,std::error_code,unsigned int>::operator()+0x11 [c:\projects\restbed\dependency\asio\asio\include\asio\detail\bind_handler.hpp @ 160]
40 023dfb58 0030ac8c search!asio::asio_handler_invoke<asio::detail::binder2<asio::detail::read_until_delim_string_op<asio::basic_stream_socket<asio::ip::tcp,asio::stream_socket_service<asio::ip::tcp> >,asio::basic_streambuf_ref<std::allocator<char> >,<lambda_12d3f708b7d2e653569cc9ff413d8d57> >,std::error_code,unsigned int> >+0x14 [c:\projects\restbed\dependency\asio\asio\include\asio\handler_invoke_hook.hpp @ 69]
41 (Inline) -------- search!asio_handler_invoke_helpers::invoke+0x11 [c:\projects\restbed\dependency\asio\asio\include\asio\detail\handler_invoke_helpers.hpp @ 37]
42 (Inline) -------- search!asio::detail::asio_handler_invoke+0x11 [c:\projects\restbed\dependency\asio\asio\include\asio\impl\read_until.hpp @ 837]
43 (Inline) -------- search!asio_handler_invoke_helpers::invoke+0x11 [c:\projects\restbed\dependency\asio\asio\include\asio\detail\handler_invoke_helpers.hpp @ 37]
44 (Inline) -------- search!asio::detail::handler_work<asio::detail::read_until_delim_string_op<asio::basic_stream_socket<asio::ip::tcp,asio::stream_socket_service<asio::ip::tcp> >,asio::basic_streambuf_ref<std::allocator<char> >,<lambda_12d3f708b7d2e653569cc9ff413d8d57> >,asio::system_executor>::complete+0x11 [c:\projects\restbed\dependency\asio\asio\include\asio\detail\handler_work.hpp @ 81]
45 023dfc0c 002f602d search!asio::detail::win_iocp_socket_recv_op<asio::mutable_buffers_1,asio::detail::read_until_delim_string_op<asio::basic_stream_socket<asio::ip::tcp,asio::stream_socket_service<asio::ip::tcp> >,asio::basic_streambuf_ref<std::allocator<char> >,<lambda_12d3f708b7d2e653569cc9ff413d8d57> > >::do_complete+0x10c [c:\projects\restbed\dependency\asio\asio\include\asio\detail\win_iocp_socket_recv_op.hpp @ 98]
46 (Inline) -------- search!asio::detail::win_iocp_operation::complete+0x15 [c:\projects\restbed\dependency\asio\asio\include\asio\detail\win_iocp_operation.hpp @ 46]
47 023dfc6c 002f7380 search!asio::detail::win_iocp_io_context::do_one+0x1ed [c:\projects\restbed\dependency\asio\asio\include\asio\detail\impl\win_iocp_io_context.ipp @ 403]
48 023dfca8 002f5724 search!asio::detail::win_iocp_io_context::run+0xd0 [c:\projects\restbed\dependency\asio\asio\include\asio\detail\impl\win_iocp_io_context.ipp @ 161]
49 (Inline) -------- search!asio::io_context::run+0x21 [c:\projects\restbed\dependency\asio\asio\include\asio\impl\io_context.ipp @ 59]
4a (Inline) -------- search!restbed::Service::start::__l23::<lambda_01547af9600099e1a4714209b172393e>::operator()+0x23 [c:\projects\restbed\source\corvusoft\restbed\service.cpp @ 178]
4b (Inline) -------- search!std::_Invoker_functor::_Call+0x23 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1408]
4c (Inline) -------- search!std::invoke+0x23 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1476]
4d (Inline) -------- search!std::_LaunchPad<std::unique_ptr<std::tuple<<lambda_01547af9600099e1a4714209b172393e> >,std::default_delete<std::tuple<<lambda_01547af9600099e1a4714209b172393e> > > > >::_Execute+0x23 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\thr\xthread @ 238]
4e 023dfcd8 002f5466 search!std::_LaunchPad<std::unique_ptr<std::tuple<<lambda_01547af9600099e1a4714209b172393e> >,std::default_delete<std::tuple<<lambda_01547af9600099e1a4714209b172393e> > > > >::_Run+0xa4 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\thr\xthread @ 245]
4f 023dfce0 002f529a search!std::_LaunchPad<std::unique_ptr<std::tuple<<lambda_01547af9600099e1a4714209b172393e> >,std::default_delete<std::tuple<<lambda_01547af9600099e1a4714209b172393e> > > > >::_Go+0x6 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\thr\xthread @ 230]
*** ERROR: Symbol file could not be found.  Defaulted to export symbols for C:\Windows\SysWOW64\ucrtbase.DLL - 
50 023dfce8 714962a4 search!std::_Pad::_Call_func+0xa [c:\program files (x86)\microsoft visual studio 14.0\vc\include\thr\xthread @ 208]
*** ERROR: Symbol file could not be found.  Defaulted to export symbols for C:\Windows\SysWOW64\KERNEL32.DLL - 
WARNING: Stack unwind information not available. Following frames may be wrong.
51 023dfd24 752d7c04 ucrtbase!crt_at_quick_exit+0x104
52 023dfd38 7766ab8f KERNEL32!BaseThreadInitThunk+0x24
53 023dfd80 7766ab5a ntdll!RtlInitializeExceptionChain+0x8f
54 023dfd90 00000000 ntdll!RtlInitializeExceptionChain+0x5a
```

We crash in mutable_buffer's ctor (for some reason) even though my call to Session::yield was guarded by is_open().

Here is another callstack, this time on a different thread:

```
0:002> kn99
 # ChildEBP RetAddr  
00 (Inline) -------- search!std::_Ref_count_base::_Decref+0x5 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\memory @ 110]
01 (Inline) -------- search!std::_Ptr_base<void>::_Decref+0x9 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\memory @ 338]
02 (Inline) -------- search!std::shared_ptr<void>::{dtor}+0x9 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\memory @ 573]
03 (Inline) -------- search!std::shared_ptr<void>::reset+0x1a [c:\program files (x86)\microsoft visual studio 14.0\vc\include\memory @ 600]
04 0230f730 00309c83 search!asio::detail::win_iocp_socket_service_base::close+0xb5 [c:\projects\restbed\dependency\asio\asio\include\asio\detail\impl\win_iocp_socket_service_base.ipp @ 186]
05 (Inline) -------- search!asio::stream_socket_service<asio::ip::tcp>::close+0x19 [c:\projects\restbed\dependency\asio\asio\include\asio\stream_socket_service.hpp @ 162]
06 (Inline) -------- search!asio::basic_socket<asio::ip::tcp,asio::stream_socket_service<asio::ip::tcp> >::close+0x25 [c:\projects\restbed\dependency\asio\asio\include\asio\basic_socket.hpp @ 352]
07 0230f75c 00309fda search!restbed::detail::SocketImpl::close+0x83 [c:\projects\restbed\source\corvusoft\restbed\detail\socket_impl.cpp @ 91]
08 0230f778 003045e1 search!restbed::detail::SocketImpl::connection_timeout_handler+0x3a [c:\projects\restbed\source\corvusoft\restbed\detail\socket_impl.cpp @ 444]
09 (Inline) -------- search!std::_Invoker_pmf_pointer::_Call+0xb [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1373]
0a (Inline) -------- search!std::invoke+0xb [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1476]
0b (Inline) -------- search!std::_Invoke_ret+0xb [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1508]
0c (Inline) -------- search!std::_Call_binder+0xb [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 793]
0d (Inline) -------- search!std::_Binder<std::_Unforced,void (__thiscall restbed::detail::SocketImpl::*)(std::error_code const &),restbed::detail::SocketImpl * const,std::_Ph<1> const &>::operator()+0xb [c:\program files (x86)\microsoft visual studio 14.0\vc\include\functional @ 849]
0e (Inline) -------- search!asio::detail::binder1<std::_Binder<std::_Unforced,void (__thiscall restbed::detail::SocketImpl::*)(std::error_code const &),restbed::detail::SocketImpl * const,std::_Ph<1> const &>,std::error_code>::operator()+0xe [c:\projects\restbed\dependency\asio\asio\include\asio\detail\bind_handler.hpp @ 62]
0f 0230f784 0030a1f1 search!asio::asio_handler_invoke<asio::detail::binder1<std::_Binder<std::_Unforced,void (__thiscall restbed::detail::SocketImpl::*)(std::error_code const &),restbed::detail::SocketImpl * const,std::_Ph<1> const &>,std::error_code> >+0x11 [c:\projects\restbed\dependency\asio\asio\include\asio\handler_invoke_hook.hpp @ 69]
10 (Inline) -------- search!asio_handler_invoke_helpers::invoke+0xe [c:\projects\restbed\dependency\asio\asio\include\asio\detail\handler_invoke_helpers.hpp @ 37]
11 (Inline) -------- search!asio::detail::handler_work<std::_Binder<std::_Unforced,void (__thiscall restbed::detail::SocketImpl::*)(std::error_code const &),restbed::detail::SocketImpl * const,std::_Ph<1> const &>,asio::system_executor>::complete+0xe [c:\projects\restbed\dependency\asio\asio\include\asio\detail\handler_work.hpp @ 81]
12 0230f7c8 002f602d search!asio::detail::wait_handler<std::_Binder<std::_Unforced,void (__thiscall restbed::detail::SocketImpl::*)(std::error_code const &),restbed::detail::SocketImpl * const,std::_Ph<1> const &> >::do_complete+0x81 [c:\projects\restbed\dependency\asio\asio\include\asio\detail\wait_handler.hpp @ 71]
13 (Inline) -------- search!asio::detail::win_iocp_operation::complete+0x15 [c:\projects\restbed\dependency\asio\asio\include\asio\detail\win_iocp_operation.hpp @ 46]
14 0230f828 002f7380 search!asio::detail::win_iocp_io_context::do_one+0x1ed [c:\projects\restbed\dependency\asio\asio\include\asio\detail\impl\win_iocp_io_context.ipp @ 403]
15 0230f864 002f5724 search!asio::detail::win_iocp_io_context::run+0xd0 [c:\projects\restbed\dependency\asio\asio\include\asio\detail\impl\win_iocp_io_context.ipp @ 161]
16 (Inline) -------- search!asio::io_context::run+0x21 [c:\projects\restbed\dependency\asio\asio\include\asio\impl\io_context.ipp @ 59]
17 (Inline) -------- search!restbed::Service::start::__l23::<lambda_01547af9600099e1a4714209b172393e>::operator()+0x23 [c:\projects\restbed\source\corvusoft\restbed\service.cpp @ 178]
18 (Inline) -------- search!std::_Invoker_functor::_Call+0x23 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1408]
19 (Inline) -------- search!std::invoke+0x23 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\type_traits @ 1476]
1a (Inline) -------- search!std::_LaunchPad<std::unique_ptr<std::tuple<<lambda_01547af9600099e1a4714209b172393e> >,std::default_delete<std::tuple<<lambda_01547af9600099e1a4714209b172393e> > > > >::_Execute+0x23 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\thr\xthread @ 238]
1b 0230f894 002f5466 search!std::_LaunchPad<std::unique_ptr<std::tuple<<lambda_01547af9600099e1a4714209b172393e> >,std::default_delete<std::tuple<<lambda_01547af9600099e1a4714209b172393e> > > > >::_Run+0xa4 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\thr\xthread @ 245]
1c 0230f89c 002f529a search!std::_LaunchPad<std::unique_ptr<std::tuple<<lambda_01547af9600099e1a4714209b172393e> >,std::default_delete<std::tuple<<lambda_01547af9600099e1a4714209b172393e> > > > >::_Go+0x6 [c:\program files (x86)\microsoft visual studio 14.0\vc\include\thr\xthread @ 230]
*** ERROR: Symbol file could not be found.  Defaulted to export symbols for C:\Windows\SysWOW64\ucrtbase.DLL - 
1d 0230f8a4 713b62a4 search!std::_Pad::_Call_func+0xa [c:\program files (x86)\microsoft visual studio 14.0\vc\include\thr\xthread @ 208]
*** ERROR: Symbol file could not be found.  Defaulted to export symbols for C:\Windows\SysWOW64\KERNEL32.DLL - 
WARNING: Stack unwind information not available. Following frames may be wrong.
1e 0230f8e0 752d7c04 ucrtbase!crt_at_quick_exit+0x104
1f 0230f8f4 7766ab8f KERNEL32!BaseThreadInitThunk+0x24
20 0230f93c 7766ab5a ntdll!RtlInitializeExceptionChain+0x8f
21 0230f94c 00000000 ntdll!RtlInitializeExceptionChain+0x5a
```

On another server thread my search was still going on. But there is a timeout? And I believe the client has disconnected at this point as well. Not sure what's going on here, but again: crash

Not sure where to go with this, any advice would be appreciated! Ideally restbed should never crash: I'd be perfectly happy if an exception was thrown in all these cases.

@terrymah can you present a code sample that will replicate the issue? or provide me with temporary access to the repository?

Are you using threads on top of restbed? If so this is not advisable and most likely the cause of your problem.

i was using threads (immediately kicked off servicing a search request to a background thread so the restbed thread could get back to handling queries), but I removed them first thing and got the same behavior.

It takes 30+ seconds sometimes to perform a search. During this time, the thread which initially handled the request is constantly searching. When I call yield (once per result), could those possibly be handled by another worker thread? Could that run afoul of any internal multithreaded issues, especially if random closing of sockets is involved?

I wonder if it's something as basic as a race condition: if other worker threads can handle yield requests, what's to stop one of them crashing if the connection closes between when I yield a buffer and it gets handled?

I'm sorry, but I can't replicate it at all locally: even when my full stack server and client. It's only in production I'm seeing it. I am nearly certain there is a bug in the cilent (front end) here as well causing the disconnections.

Also: shouldn't yield itself check if the session is open? Otherwise it seems to me you must call session::is_open before every single yield call, and even that might not do it if the connection closes/has memory freed on a background worker thread between the is_open call and yield call

Also: if it helps, I'm pretty confident in my "session is getting pulled from under us" theory. I can see in the debugger that the session objects m_is_open is false. m_buffer is a nullptr. But you can see from the source that I call session::is_closed() before this call. So it seems to me that another restbed worker thread is closing the session in response to the client, and ripping some state out from under the worker thread still trying to process the original request.

If you'll look at the second crash stack I showed you: there is something about a timeout. Perhaps this one wasn't caused by the client, maybe restbed itself is pulling the session out from under the worker doing the search because it exceeded some timeout (sometimes, there are not search results written for a while..)?

Sorry I keep spamming here; I'm not sure if I'm helping or not.

But I see in SocketImpl::write that the first thing you do is size m_buffer based on the incoming data. The actual crash is at m_buffer->data() setting up the call to asio::async_write; at this point m_buffer is nullptr.

If you can guess as to how m_buffer got to be a nullptr between the start of the function (where it clearly copies the non-null input buffer) and the crash at m_buffer->data() I think we'll then know what happened here.

Right now I'm very concerned that there is only a single m_buffer for the socket used for async writes. So if two writes in a row happen (remember, calling yield inside a loop which iterates over search results) the second yield looks to me like it'll blow away the buffer of the first yield if it hasn't been processed yet?

@terrymah Can you share your code? 

FYI restbed has no threads per se. It handles all available threads to the ASIO runloop.  No session is ever shared between threads or ever will be.

I have a private repro on bitbucket. Give me your email address/account and I'll add you to the repro.

I'm at a loss to explain how is_open could return true, immediately call yield, then in the debugger see that is_open would return false without another thread involved.

I can confirm (via thread id logging) that my Yield callbacks are occurring on another thread than where I'm calling it from.

```
[1844] INFO: Incoming 'GET' request from '[::1]:17167' for route '/user/2/search2'.
[1844] INFO: Load training data for user 2: 8 ms
[9112] INFO: Yield Done
-- ton more --
[9112] INFO: Yield Done
[1844] INFO: Search for id 2: Average search time 8 ms, total rows searched 3997
[9112] INFO: Yield done, about to close
```

tid 1844 is where the request comes in on. It calls yield in a loop, once per search result. I added a log call in the yield callback to dump the tid of where it's processed. As you can see, they don't match.

This crash might just be a race on the buffer. I yield once, and as another thread is actually using it another yield occurs on the first thread: clearing the buffer just before it's used.

ben.crowhurst@corvusoft.co.uk

Relevant code is in GET_user_id_search2 in rest.cpp

Restbed is **not** intended to be treated as a synchronous framework. The following is incorrect:

``` C++
        GrabObj<DataSource> obj(cache);
        DataSource* ds = obj.get();

        session->yield(OK, "", [](const std::shared_ptr<Session>) {});

        FindFacesTree(id, group, numGroups, age, noThumb == 0, ds, [=](ptree pt)->bool {
            if (session->is_closed())
                return false;
            std::stringstream ss;
            json_parser::write_json(ss, pt);

            if (session->is_closed())
                return false;

            session->yield(ss.str(), [](const std::shared_ptr<Session>) {});
            return true;
        });

        if (session->is_open()) {
            session->yield("", [](const std::shared_ptr<Session> s) {
                s->close();
            });
        }
 ```

Better:

``` C++
        GrabObj<DataSource> obj(cache);
        DataSource* ds = obj.get();

        session->yield(OK, "", [](const std::shared_ptr<Session>) {
            FindFacesTree(id, group, numGroups, age, noThumb == 0, ds, [=](ptree pt)->bool {
                if (session->is_closed())
                    return false;
                    std::stringstream ss;
                    json_parser::write_json(ss, pt);

                    if (session->is_closed())
                        return false;

                   session->close(ss.str());
                   return true;
             });

             if (session->is_open()) {
                session->close( );
                });
            }
     } );
 ```

As stated in a previous discussion "yield with no parameters is intended for use during Transfer-Encoding".

Please see [RestQ](https://github.com/Corvusoft/restq) for a server implementation.

With regard to threading, just don't do it.  Store your data in a database product that has asynchronous access techniques i.e MySQL, PostgreSQL.

If you can provide a test case which reliably causes a crash I can look into a fix; any issue relating to threads will be placed on the bottom of the pile.





Man, you guys are tough. I fear your focus on how I'm accessing SQL is distracting you from a handful of unrelated but legitimate (and easily fixable) issues here. I don't think my database methodology has anything to do with the crash. People get a bunch of SQL rows and iterate over them sometimes, that's life.

Did you not see my comment earlier where I point out how you store the async buffer on the socket object? So two async writes can't be in progress at the same time (without the second one freeing the memory used by the first)? You **really** don't think that has merit?

And the callback issue: I've demonstrated that my "yield" callback is occurring on another thread. I am not doing this, restbed (or asio) is doing this. You seem to be very concerned about multithreading by the client, so doesn't this concern you just as much?

With all due respect I feel you have missed the point of restbed and its asynchronous approach; partly our fault for the lack of documentation.

"So two async writes can't be in progress at the same time" This should **not** happen, ever**!** Please read the HTTP 1.1 Specification. If you desire to trickle back results use Chunked Transfer-Encoding.

Original HTTP / 1.1 [RFC](https://www.w3.org/Protocols/rfc2616/rfc2616.html) is replaced by multipile RFCs (7230-7237):

[RFC7230](https://tools.ietf.org/html/rfc7230) - Message Syntax and Routing. An overview of HTTP architecture and its associated terminology, defines the "http" and "https" Uniform Resource Identifier (URI) schemes, defines the HTTP/1.1 message syntax and parsing requirements, and describes related security concerns for implementations.

[RFC7231](https://tools.ietf.org/html/rfc7231) - Semantics and Content. Defines the semantics of HTTP/1.1 messages, as expressed by request methods, request header fields, response status codes, and response header fields, along with the payload of messages (metadata and body content) and mechanisms for content negotiation.

[RFC7232](https://tools.ietf.org/html/rfc7232) - Conditional Requests. Defines HTTP/1.1 conditional requests, including metadata header fields for indicating state changes, request header fields for making preconditions on such state, and rules for constructing the responses to a conditional request when one or more preconditions evaluate to false.

[RFC7233](https://tools.ietf.org/html/rfc7233) - Range Requests. Defines range requests and the rules for constructing and combining responses to those requests.

[RFC7234](https://tools.ietf.org/html/rfc7234) - Caching. Defines HTTP caches and the associated header fields that control cache behavior or indicate cacheable response messages.

[RFC7235](https://tools.ietf.org/html/rfc7235) - Authentication. Defines the HTTP Authentication framework.

[RFC7236](https://tools.ietf.org/html/rfc7236) - Authentication Scheme Registrations. Registers Hypertext Transfer Protocol (HTTP) authentication schemes that have been defined in RFCs before the IANA HTTP Authentication Scheme Registry was established.

[RFC7237](https://tools.ietf.org/html/rfc7237) - Method Registrations. Registers those Hypertext Transfer Protocol (HTTP) methods that have been defined in RFCs before the IANA HTTP Method Registry was established.

[RFC6265](https://tools.ietf.org/html/rfc6265) - HTTP State Management Mechanism.
If the issues are "easily fixable" as you state, why not submit a PR for review? Alternatively purchase support via support@corvusoft.co.uk.

We really do thank you for using restbed and value your feedback.  Happy to review your PR and/or fix a repeatable issue you can demonstrate.

[Casablanca?](https://casablanca.codeplex.com/)

All the best.,
Corvusoft Development Team.

Alternatively contact sales@corvusoft.co.uk for pricing on developing the server for you.